 body {
 
  margin: 0;
  padding: 0;
  width: 100%;


 }


li {
    
    text-decoration: none;
    display: inline-block;
    padding: 20px;
  
    
}


navbar li {
    
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    
}


navbar li:hover {
    
    color: #101b3b;
}



@media only screen and (max-device-width: 415px) {


.header {
    
    display: none;
   
}


}


.myimage  {
    
    width: 100%;
    margin: 3px 10px;
}


.pic1  {
    
    width: 100%;
    height: auto;

}


.pic2 {
    
    display: none;
}



p {
    
    padding: 30px;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}



.social-media {
    
    background-color: #101b3b;
    height: 230px;
    width: 100%;
    text-align: center;
  
}


.social-media a{
    
    background-color: white;
    width:30px;
    height: auto;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}


.container a {
    
    margin: 120px 2px 5px 2px;
}



#map {
    
    width: 100%;
    height: 210px;
}


@media only screen and (min-device-width: 768px) and ( max-device-width: 1100px) {
    
    
  li {
      
 
      text-align: center;
      margin: 25px 3px 15px 3px;
      
    
    /*margin: 25px 5px 15px 5px;
    padding-left: 90px;*/
    
}  
    
    navbar {
        
   
        margin: 10px 20px 10px 30px;
        padding-left: 150px;
    }  
    
    
    .header {
        
        display: none;
    }
    
      

.content img {
    
    width: 500px;
    padding: 10px 50px 8px 50px;
    text-align: center;
  
}


p {
    
    padding: 30px;
    font-size: 22px;
    line-height: 1.5;
    margin: 5px 80px  6px 80px;
    border: 50px;
 
  }
    
    
   #map {
        
        width: 100%;
        height: 300px;
    }  
    
   
 .article1 {
        
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   
  
    }      
    
 .article2 {
        
       display: flex;
       flex-direction: column;
       justify-content: center;
     
      }     
    
}




@media only screen and (min-width: 1000px) {
    
       
navbar {
        
        padding: 30px;
    } 
    

    
    
li {
    
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    padding: 25px 40px 20px 40px;
    
}


navbar li {
    
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    
}    
    


 navbar li:hover {
    
    color: #101b3b;
}
   
    
  
.header {
    
    width: 100%;
    position: relative;


}
    
#slides {
        
        position: relative;
        height: 850px;
        padding: 0px;
        margin: 0px;
    }
    

.slide {
        
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
        
}
 
    
   .showing {
        
       opacity: 1;
        z-index: 2;
    }  
    



p {
    
    padding: 30px;
    font-size: 25px;
    line-height: 1.7;
}


.article1 {
        
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       justify-content: space-around;
       margin: 35px 40px;
  
    }    
    
 
.pic1  {
        
        display: flex;
       flex-direction: row;
       align-items: flex-end;
       width: 50%;
    
    }
    
    
.pic2 {
     
       display: flex;
       flex-direction: row;
       align-items: flex-start;
       width: 50%;
        
    }   
       
    
    
.article2 {
        
       display: flex;
       flex-direction: row;
       align-items: flex-end;
       margin: 35px 40px;
}  
    
    
    
 #map {
        
        width: 100%;
        height: 530px;
    }    

    
  
.social-media a {
    
  padding: 15px;
}  
    
    
    
}



